---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}

<h2 id="">关于我</h2>

<ul>
<li>大众版</li>
</ul>

<p>web开发新手，该网站clone自stormzhang的源码</p>

<p>如果想更多的了解源代码作者，看这里<a href="http://stormzhang.github.io/my-progress">stormzhang的大事记</a></p>

<ul>
<li>Ruby版</li>
</ul>

{% highlight ruby %}
name = 'MianDai'
real_name = 'MianDai'
description = 'Web Developer'
company = '信息部'

qq = '121454'
sina_weibo = '疯狂的拖鞋'
email = '535823891$#qq.com'.gsub('$#', '@')
blog = 'http://miandai.github.io'
github = 'https://github.com/miandai'

while true
  programing
  reading
  enjoying
end
{% endhighlight %}

<h2 id="_2">联系我</h2>

<ul>
<li>
<p>Github: <a href="https://github.com/miandai">https://github.com/miandai</a></p>
</li>

<li>
<p>Weibo: <a href="http://weibo.com/u/1997763905">http://weibo.com/u/1997763905</a></p>
</li>

<br />
<hr>
<div id="comment-hook"></div>
{% include codepiano/comments %}
